*.o
*~
*.tmp
*.tmproj
._*
ChangeLog
clean
config.log
Makefile
Makefile.in
aclocal.m4
autom4te.cache
configure
config.status
libtool
build/*
config/compile
config/config.guess
config/config.sub
config/depcomp
config/install-sh
config/ltmain.sh
config/missing
config/plugin.ac
config/plugin.am
config/pandora_vc_revinfo
gnulib/.deps
gnulib/Makefile
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
m4/bzr_version.m4
gnulib/Makefile.i
src/.deps
src/.libs
src/kimura
src/Makefile
src/Makefile.in
src/config.h
src/config.h.in
src/stamp-h1
